$theme-text-font: "Roboto", sans-serif;
$theme-title-font: "Quicksand", sans-serif;
$theme-items-font: "Montserrat", sans-serif;

$theme-bacckground-color: #512DA8;
$theme-accept-color: #388E3C;
$theme-deny-color: #D32F2F;

$theme-base-spacing: 1rem;
$theme-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);